@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body, input {
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  --yellow: #c9b458;
  --gray: #787c7e;
  --light-gray: #ccc;
  --green: #6aaa64;
  --white: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  padding: 5px 0;
  border-bottom: 2px solid var(--light-gray);
  font-weight: 500;
}

.rules {
  font-size: 16px;
}

.rules .colors {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.rules ul {
  text-align: left;
  margin-left: 80px;
}

.rules ul li span {
  color: white;
  padding: 2px 3px;
  min-width: 300px;
}

.game-board {
  width: 300px;
  margin: 0 auto;
}

.answer, .input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.answer span {
  width: 45px;
  height: 45px;
  font-size: 30px;

  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
}

.input input {
  height: 45px;
  width: 45px;
  padding: 0;

  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.input input[type=text] {
  box-sizing: border-box;
  border: 2px solid var(--gray);
  transition: 0.5s;
  outline: none;
}

.input input[type=text]:focus {
  border: 2px solid #000;
}

.submit-button {
  position: absolute;
  margin-left: 370px;
  margin-top: 3px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.blank {
  border: 2px solid #d3d6da;
  display: block;
  width: 41px;
  height: 41px;
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

.gray {
  background-color: var(--gray);
}
